/* Contenedores principales
========================================================================== */
header {
  position: absolute;
  @include w-full;
  background: rgba(0, 0, 0, 0.8);
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  // background: -webkit-gradient(
  //   width: 100% ; left top,
  //   left bottom,
  //   color-stop(0%, rgba(0, 0, 0, 0.8)),
  //   color-stop(100%, rgba(0, 0, 0, 0))
  // );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  /* ------------ Menú ------------ */
  nav {
    @include flex;
    @extend .triangulo-azul;
    justify-content: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      transition: 0.5s;
      border-bottom: 2px rgba(0, 0, 0, 0.01) solid;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      @include changa;
      @include blanco;
    }
    a:hover {
      transition: 0.5s;
      border-bottom: 2px #f36f21 solid;
    }
  }
}
/* ------------ Main ------------ */

main > div {
  min-height: 100vh;
  @include flex;
  @include center;
  flex-direction: column;
}
/* ------------ Footer ------------ */
footer {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 85%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.8))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 85%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 85%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 85%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 85%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  @include w-full;
  @include flex;
  @include center;
  .footer__contenedor {
    @include flex;
    @include center;
    @include w-full;
    @extend .triangulo-naranja;
    .footer__rrss {
      @include flex;
      margin-right: 1vw;
      .footer__rrssbtn {
        a {
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          display: block;
          @include blanco;
          @include azul-bg;
        }
      }
    }
    p {
      @include changa;
      @include blanco;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Contenedores principales
========================================================================== */
  header {
    /* Menú */
    nav {
      height: 15vh;
      background-size: 28vw;
      align-content: flex-end;
      a {
        font-size: 0.9rem;
        margin: 0 4.5vw 1.8vw;
      }
    }
  }
  main > div {
    .contenedor {
      padding: 22vh 6vw;
      @include w-full;
    }
  }
  footer {
    .footer__contenedor {
      height: 14vh;
      background-size: 28vw;
      .footer__rrss {
        .footer__rrssbtn {
          a {
            width: 8vw;
            height: 8vw;
            margin: 0 1vw;
            svg {
              width: 0.6rem !important;
              margin: 2vw 0 0 2.5vw;
            }
          }
        }
      }
      p {
        font-size: 0.78rem;
        line-height: 1rem;
        text-align: center;
        img {
          width: 9.5vh;
          margin-bottom: -0.25em;
        }
      }
    }
  }
  /* Descripci[on general en las vistas */
  .descripcion {
    font-size: 0.95rem;
    line-height: 1.5rem;
    padding-bottom: 2.7vh;
  }
  .ficha__texto {
    font-size: 0.85rem;
    line-height: 1.2rem;
  }

  .boton-regreso {
    font-size: 0.8rem;
    padding-bottom: 1vh;
  }
}


/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  /* Contenedores principales
========================================================================== */
  header {
    /* Menú */
    nav {
      height: 16vh;
      background-size: 17vw;
      justify-content: center;
      align-content: flex-end;
      a {
        font-size: 0.85rem;
        margin: 0 1.5vw;
        padding: 0.6vh;
      }
    }
  }
  main > div {
    .contenedor {
      padding:25vh 4vw;
      @include w-full;
    }
  }
  footer {
    .footer__contenedor {
      height: 18vh;
      background-size: 17vw;
      .footer__rrss {
        .footer__rrssbtn {
          a {
            width: 4vw;
            height: 4vw;
            margin: 0 0.5vw;
            svg {
              width: 0.5rem !important;
              margin: 0.75vw 0 0 1.3vw;
            }
          }
        }
      }
      p {
        font-size: 0.78rem;
        img {
          width: 17vh;
          margin-bottom: -0.3em;
        }
      }
    }
  }
  /* Descripción general en las vistas */
  .descripcion {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding-bottom: 4.5vh;
  }
  .ficha__texto {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .boton-regreso {
    font-size: 0.8rem;
    padding-bottom: 1.5vh;
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Contenedores principales
========================================================================== */
  h2 {
    font-size: 1.25rem !important;
    line-height: 1.2rem;
  }
  header {
    /* Menú */
    nav {
      justify-content: center;
      align-content: flex-end;
      height: 8vh;
      background-size: 18vw;
      padding-left: 0;
      a {
        font-size: 1.1rem;
        margin: 0 1.5vw;
      }
    }
  }
  main > div {
    .contenedor {
      padding: 12vh 2.7vw 12vh 2.7vw;
    }
  }
  footer {
    .footer__contenedor {
      height: 8vh;
      background-size: 18vw;
      .footer__rrss {
        .footer__rrssbtn {
          a {
            width: 4vw;
            height: 4vw;
            margin: 0 0.5vw;
            svg {
              width: 0.65em !important;
              margin: 1vw 0 0 1.3vw;
            }
          }
        }
      }
      p {
        font-size: 1rem;
        padding-left: 0;
        img {
          width: 6.8vh;
        }
      }
    }
  } /* Descripci[on general en las vistas */
  .descripcion {
    font-size: 1.25rem;
    line-height: 1.8rem;
    padding-bottom: 2vh;
  }
  .ficha__texto {
    font-size: 0.95rem;
    line-height: 1.25rem;
  }

  .boton-regreso {
    font-size: 0.9rem;
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  /* Contenedores principales
========================================================================== */
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.15rem;
  }
  header {
    /* Menú */
    nav {
      height: 12vh;
      align-content: center;
      a {
        font-size: 1.1rem;
      }
    }
  }
  main {
    .contenedor {
      padding: 15vh 0;
    }
  }
  footer {
    .footer__contenedor {
      height: 12vh;
      padding-right: 8vw;
      .footer__rrss {
        .footer__rrssbtn {
          a {
            width: 3.5vw;
            height: 3.5vw;            
            margin: 0 0.5vw;
            svg {
              width: 0.7em !important;
              margin: 1.1vw 0 0 1.2vw;
            }
          }
        }
      }
      p {
        font-size: 1rem;
        img {
          width: 9vh;
          margin-bottom: -0.2em;
        }
      }
    }
  }
  .descripcion {
    font-size: 1.2rem;
    padding-bottom: 1.7vh;
  }
  .ficha__texto {
    font-size: 0.85rem;
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.15rem;
  }

  /* Contenedores principales
========================================================================== */
  header {
    /* Menú */
    nav {
      height: 14vh;
      background-size: 16vw;
      a {
        font-size: 1.2rem;
      }
    }
  }

  footer {
    .footer__contenedor {
      height: 12vh;
      background-size: 15vw;
      .footer__rrss {
        .footer__rrssbtn {
          a {
            width: 2.5vw;
            height: 2.5vw;
            svg {
              width: 0.8em !important;
              margin: 0.8vw 0 0 0.8vw;
            }
          }
        }
      }
      p {
        img {
          width: 10vh;
          margin-bottom: -0.3em;
        }
      }
    }
  }

  .descripcion {
    font-size: 1.45rem;
  }

  .ficha__texto {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-top: 0.5vh;
  }

  .boton-regreso {
    font-size: 0.85rem;
  }
}


/*-------------------------------------------- Desktop responsive 1440--------------------------------------------*/
@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  /* Contenedores principales
========================================================================== */

  footer {
    .footer__contenedor {
      p {
        img {
          width: 8vh;
        }
      }
    }
  }

  /* Vallas
========================================================================== */
  .vallas {
    &__ficha {
      h2 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
        padding: 0.5vh 0;
      }
      a {
        font-size: 0.9rem;
      }
    }
  }
}
