@import "../../assets/css/styles.less";

.vallas {
  .dropdown-list {
    padding: 2vh;
    background: rgba(255, 255, 255, 0.9);
    .flex();
    &__locations {
      .w-full();
      display: block;
      &:hover {
        .gris-claro-bg();
        transition: 0.5s;
      }
    }
    .descripcion {
      color: #525052;
      text-shadow: none;
    }
    .descripcion-peq {
      width: 100%;
    }
    select {
      flex: 0 0 100%;
      font-weight: bold;
      color: #525052;
      border: 1px solid #999999;
      padding: 1vh;
      margin-top: 2vh;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent url("../../assets/images/dropdown.svg") no-repeat;
      background-position: 98% 50%;
      background-color: #fff;
      border: none;
      cursor: pointer;
      .lato();
      option {
        .lato();
        font-size: 0.9rem;
      }
    }
    a {
      .lato();
      .gris();
    }
  }

  .infowindow {
    position: relative;
    z-index: 50;
  }

  .infowindow--hide {
    display: none;
  }

  .infowindow--show {
    display: block;
  }

  .infowindow__body {
    .blanco-bg();
    .flex();
    transform: translate(-40%, -100%);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &-texto {
      h4 {
        .azul();
        font-weight: 400;
      }
      p {
        .gris();
        font-weight: 400;
      }
    }
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .img-bg();

  &__ficha {
    .gris-claro-bg();
    .w-full();
    .flex();
    &-inf {
      .flex();
      align-content: flex-start;
      h1 {
        display: block;
        .gris-claro-bg();
        .naranja();
      }
    }
    &-item {
      font-weight: 400;
      .lato();
      .gris();
      span {
        .azul();
        font-weight: 600;
      }
    }
  }
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/images/marcador.png);
  background-size: contain;
  background-position: center;
  user-select: none;
  cursor: pointer;
  &:hover {
    z-index: 1;
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .vallas {
    background-image: url(../../assets/images/vall-mov-bg.jpg);
    &__principal {
      height: 45.5vh;
      margin-top: 3vh;
    }
    .dropdown-list {
      &__locations {
        font-size: 0.83rem;
        padding: 1.5vh 1vh;
      }
      select {
        font-size: 1rem;
        background-size: 1.5vh;
      }
    }

    &__ficha {
      padding: 2vh;
      &-inf {
        h1 {
          .w-full();
          font-size: 1.3rem;
          padding-bottom: 0.5vh;
        }
      }

      &-item {
        padding: 0.5vh 0;
        font-size: 0.8rem;
        line-height: 1.3rem;
      }

      &-mapa {
        margin-top: 4%;
        flex: 1 1 100%;
        height: 45vh;
      }

      .gatsby-image-wrapper {
        margin-top: 4%;
        flex: 1 1 100%;
      }
    }
  }
}

@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .vallas {
    background-image: url(../../assets/images/vall-lan-bg.jpg);
    .contenedor {
      padding: 22vh 6vw;
    }
    &__principal {
      height: 90vh;
      margin-top: 7vh;
    }

    .dropdown-list {
      &__locations {
        font-size: 0.85rem;
        padding: 3vh;
        flex: 0 0 50%;
      }
      select {
        font-size: 1rem;
        background-size: 3vh;
      }
    }

    &__ficha {
      padding: 4vh;
      &-inf {
        h1 {
          .w-full();
          font-size: 1.3rem;
          padding-bottom: 0.5vh;
        }
      }
      &-item {
        font-size: 0.9rem;
        padding: 1vh 0;
        line-height: 1.3rem;
      }

      &-mapa {
        margin-top: 2vh;
        flex: 0 0 48%;
        margin-right: 2vh;
      }

      .gatsby-image-wrapper {
        margin-top: 2vh;
        flex: 0 0 48%;
        margin-left: 2vh;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .vallas {
    background-image: url(../../assets/images/vall-tab-bg.jpg);
    .dropdown-list {
      &__locations {
        padding: 1vh;
        flex: 0 0 33%;
      }
      select {
        background-size: 1vh;
      }
    }

    &__ficha {
      padding: 1.5vh;
      &-inf {
        h1 {
          font-size: 1.3rem;
          padding: 0.5vh 0;
        }
      }

      &-mapa {
        margin-top: 2%;
        flex: 1 1 47%;
        height: 35vh;
        margin-right: 1%;
      }

      .gatsby-image-wrapper {
        margin-top: 2%;
        flex: 1 1 47%;
        margin-left: 1%;
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .vallas {
    .contenedor {
      padding: 0;
      .flex();
      width: 90vw;
      justify-content: space-between;
    }
    &__lateral {
      flex: 0 0 49%;
    }
    &__principal {
      flex: 0 0 49%;
      height: 47vh;
      margin-top: 0;
    }

    .dropdown-list {
      &__locations {
        padding: 1.5vh;
      }
      select {
        background-size: 1.3vh;
      }
    }

    .infowindow__body {
      width: 310px;
      padding: 1.5vh;
      &-img {
        width: 25%;
      }
      &-texto {
        width: 63.5%;
        margin-left: 3.5%;
        h4 {
          font-size: 1.05rem;
        }
        p {
          padding-top: 0.5vh;
          font-size: 0.75rem;
          line-height: 1.15rem;
        }
      }
    }

    &__ficha {
      padding: 2vh;
      &-inf {
        flex: 0 0 31.5%;
        margin-right: 2vh;
        padding-left: 1vh;
        h1 {
          font-size: 1.5rem;
          padding-bottom: 0.5vh;
        }
      }

      &-mapa {
        flex: 0 0 32.5%;
        margin-top: 0;
        margin-right: 1vh;
      }

      .gatsby-image-wrapper {
        flex: 0 0 32.5%;
        margin-top: 0;
        margin-left: 1vh;
      }
    }
  }
}

@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .vallas {
    background-image: url(../../assets/images/vall-desk-bg.jpg);
    background-position: center center;
    .contenedor {
      width: 80vw;
    }
    &__principal {
      height: 43.5vh;
    }

    &__ficha {
      &-inf {
        flex: 0 0 32%;
      }
    }
  }
}
