@import "../../assets/scss/mixins";

.vallas {
  .dropdown-list {
    padding: 2vh;
    background: rgba(255, 255, 255, 0.9);
    @include flex;
    &__locations {
      @include w-full;
      display: block;
      &:hover {
        @include gris-claro-bg;
        transition: 0.5s;
      }
    }
    .descripcion {
      color: #525052;
      text-shadow: none;
    }
    .descripcion-peq {
      width: 100%;
    }
    select {
      flex: 0 0 100%;
      font-weight: bold;
      color: #525052;
      border: 1px solid #c0bfbf;
      margin-top: 2vh;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent url("../../assets/images/dropdown.svg") no-repeat;
      background-position: 98% 50%;
      background-color: #fff;
      cursor: pointer;
      @include lato;
      option {
        @include lato;
        font-size: 0.91rem;
      }
    }
    a {
      @include lato;
      @include gris;
    }
  }

  .infowindow {
    position: relative;
    z-index: 50;
  }

  .infowindow--hide {
    display: none;
  }

  .infowindow--show {
    display: block;
  }

  .infowindow__body {
    @include blanco-bg;
    @include flex;
    transform: translate(-40%, -100%);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &-texto {
      h4 {
        @include azul;
        font-weight: 400;
      }
      p {
        @include gris;
        font-weight: 400;
      }
    }
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @include img-bg;

  &__ficha {
    @include w-full;
    @include flex;
    justify-content: space-between;
    &-inf {
      @include flex;
      align-content: flex-start;
      background: rgba(255, 255, 255, 0.9);
      h1 {
        display: block;
        @include naranja;
        background:none;
      }
    }
    &-item {
      font-weight: 400;
      @include lato;
      @include gris;
      span {
        @include azul;
        font-weight: 600;
      }
    }
  }
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/images/marcador.png);
  background-size: contain;
  background-position: center;
  user-select: none;
  cursor: pointer;
  &:hover {
    z-index: 1;
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .vallas {
    background-image: url(../../assets/images/vall-mov-bg.jpg);
    &__principal {
      height: 60vh;
      margin-top: 3vh;
    }
    .dropdown-list {
      &__locations {
        font-size: 0.83rem;
        line-height: 1.1rem;
        padding: 1.5vh 1vh;
      }
      select {
        font-size: 1rem;
    line-height: 1.5rem;
        background-size: 1.5vh;
      }
    }

    &__ficha {
      &-inf {
        padding: 2vh;
        h1 {
          @include w-full;
          font-size: 1.3rem;
          padding-bottom: 0.5vh;
        }
      }

      &-item {
        padding: 0.5vh 0;
        font-size: 0.8rem;
        line-height: 1.3rem;
      }

      &-img {
        flex: 0 0 100%;
        margin-top: 3vh;
      }

      &-mapa {
        flex: 0 0 100%;
        height: 46vh;
        margin-top: 3vh;
      }
    }
  }
}

@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .vallas {
    background-image: url(../../assets/images/vall-lan-bg.jpg);
    .contenedor {
      padding: 22vh 6vw;
    }
    &__principal {
      height: 90vh;
      margin-top: 7vh;
    }

    .dropdown-list {
      &__locations {
        font-size: 0.85rem;
        line-height: 1.2rem;
        padding: 3vh;
        flex: 0 0 50%;
      }
      select {
        font-size: 1rem;
        background-size: 3vh;
        padding: 2vh;
      }
    }

    &__ficha {
      &-inf {
        padding: 4vh;
        h1 {
          @include w-full;
          font-size: 1.3rem;
          padding-bottom: 0.5vh;
        }
      }
      &-item {
        font-size: 0.9rem;
        padding: 0.5vh 0;
        line-height: 1.3rem;
      }

      &-img {
        flex: 0 0 40%;
    margin-top: 3vh;
      }

      &-mapa {
        flex: 0 0 100%;
        height: 90vh;
        margin-top: 5vh;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .vallas {
    background-image: url(../../assets/images/vall-tab-bg.jpg);
    .contenedor {
      @include flex;
      justify-content: space-between;
    }

    &__lateral {
      flex: 0 0 49%;
    }

    &__principal {
      flex: 0 0 49%;
      height:48.3vh;
      margin-top: 0;
    }
    
    .dropdown-list {
      &__locations {
        padding: 1vh;
        flex: 0 0 50%;
      }
      select {
        background-size: 1vh;
        padding: 0.5vh;
      }
    }

    &__ficha {
      &-inf {
        padding: 1.5vh;
        flex: 0 0 49%;
        h1 {
          font-size: 1.3rem;
          padding: 0.5vh 0;
        }
      }

      &-img {
        flex: 0 0 60%;
        margin-top: 1.5vh;
      }

      &-mapa {
        flex: 0 0 49%;
        margin-top:0;
        height: auto;
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .vallas {
    .contenedor {
      padding: 0;
      @include flex;
      width: 90vw;
      justify-content: space-between;
    }
    &__lateral {
      flex: 0 0 49%;
    }
    &__principal {
      flex: 0 0 49%;
      height:49.5vh;
      margin-top: 0;
    }

    .dropdown-list {
      &__locations {
        padding: 1.5vh;
      }
      select {
        background-size: 1.3vh;
        padding: 1vh;
      }
    }

    .infowindow__body {
      width: 310px;
      padding: 1.5vh;
      &-img {
        width: 25%;
      }
      &-texto {
        width: 63.5%;
        margin-left: 3.5%;
        h4 {
          font-size: 1.05rem;
        }
        p {
          padding-top: 0.5vh;
          font-size: 0.75rem;
          line-height: 1.15rem;
        }
      }
    }

    &__ficha {
      &-inf {
        padding: 2vh;
        flex: 0 0 49%;
        h1 {
          font-size: 1.5rem;
          padding-bottom: 0.5vh;
        }
      }

      &-img {
        margin-top: 1vh;
        flex:0 0 45%;
      }

      &-mapa {
        flex: 0 0 49%;
        margin-top: 0;
        height: auto;
      }
    }
  }
}

@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .vallas {
    background-image: url(../../assets/images/vall-desk-bg.jpg);
    background-position: center center;
    .contenedor {
      width: 80vw;
    }
    &__principal {
      height: 45.7vh;
    }

    &__ficha {
      &-item {
        font-size:1rem;
      }
    }
  }
}
