@import "../../assets/scss/mixins";

.vallas {
  @include img-bg;
}

.card {
  padding: 2vh;
  background: rgba(255, 255, 255, 0.9);
  @include flex;
  &__descripcion {
    color: #525052;
    text-shadow: none;
  }
  &__descripcion-corta {
    width: 100%;
  }

  &__link {
    @include w-full;
    display: block;
    @include lato;
    @include gris;
    &:hover {
      @include gris-claro-bg;
      transition: 0.5s;
    }
  }
}

.dropdown {
  flex: 0 0 100%;
  font-weight: bold;
  color: #525052;
  border: 1px solid #c0bfbf;
  margin-top: 2vh;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../../assets/images/dropdown.svg") no-repeat;
  background-position: 98% 50%;
  background-color: #fff;
  cursor: pointer;
  @include lato;

  &__option {
    @include lato;
    font-size: 0.91rem;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .vallas {
    background-image: url(../../assets/images/vall-mov-bg.jpg);
  }

  .mapa {
    height: 60vh;
    margin-top: 3vh;
  }

  .card__link {
    font-size: 0.83rem;
    line-height: 1.1rem;
    padding: 1.5vh 1vh;
  }

  .dropdown {
    font-size: 1rem;
    line-height: 1.5rem;
    background-size: 1.5vh;
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .vallas {
    background-image: url(../../assets/images/vall-lan-bg.jpg);

    .contenedor {
      padding: 22vh 6vw;
    }
  }

  .mapa {
    height: 90vh;
    margin-top: 7vh;
  }

  .card__link {
    font-size: 0.85rem;
    line-height: 1.2rem;
    padding: 3vh;
    flex: 0 0 50%;
  }

  .dropdown {
    font-size: 1rem;
    background-size: 3vh;
    padding: 2vh;
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .vallas {
    background-image: url(../../assets/images/vall-tab-bg.jpg);

    .contenedor {
      @include flex;
      justify-content: space-between;

      &__lateral {
        flex: 0 0 49%;
      }
    }
  }

  .mapa {
    flex: 0 0 49%;
    height: 48.3vh;
    margin-top: 0;
  }

  .card__link {
    padding: 1vh;
    flex: 0 0 50%;
  }

  .dropdown {
    background-size: 1vh;
    padding: 0.5vh;
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .vallas {
    .contenedor {
      padding: 0;
      @include flex;
      width: 90vw;
      justify-content: space-between;

      &__lateral {
        flex: 0 0 49%;
      }
    }
  }

  .mapa {
    flex: 0 0 49%;
    height: 49.5vh;
    margin-top: 0;
  }

  .card__link {
    padding: 1.5vh;
  }

  .dropdown {
    background-size: 1.3vh;
    padding: 1vh;
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .vallas {
    background-image: url(../../assets/images/vall-desk-bg.jpg);
    background-position: center center;
    .contenedor {
      width: 80vw;
    }
  }

  .mapa {
    height: 45.7vh;
  }
}
