@import "../assets/scss/mixins";

.perdido {
  @include img-bg;
  @include w-full;

  &__contenedor {
    @include flex;
    @include gris-claro-bg;
    align-items: center;
    align-content: flex-start;
  }

  &__boton {
    @include lato;
    @include blanco;
    @include azul-bg;
    cursor: pointer;
    font-weight: 600;
    border: none;
    display: inline-block;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .perdido {
    background-image: url(../assets/images/404-mov-bg.jpg);
    &__contenedor {
      width: 90%;
      padding: 2vh;
    }
    &__titulo {
      flex: 0 0 65%;
      padding-left: 1vh;
    }
    &__texto {
      padding-top: 1.5vh;
      padding-bottom: 1.3vh;
      font-size: 0.85rem;
      line-height: 1.2rem;
    }
    &__icono {
      width: 15vw;
      height: 15vw;
    }
    &__boton {
      padding: 1vh;
      font-size: 0.7rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .perdido {
    background-image: url(../assets/images/404-lan-bg.jpg);
    background-position: center center;
    &__contenedor {
      width: 70%;
      padding: 4vh;
    }
    &__titulo {
      padding-left: 2vh;
    }
    &__texto {
      padding-top: 2.5vh;
      padding-bottom: 2vh;
      font-size: 0.85rem;
      line-height: 1.2rem;
    }
    &__icono {
      width: 7vw;
      height: 7vw;
    }
    &__boton {
      padding: 1.5vh;
      font-size: 0.7rem;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .perdido {
    background-image: url(../assets/images/404-tab-bg.jpg);
    &__contenedor {
      width: 70%;
    }
    &__texto {
      font-size: 0.95rem;
      line-height: 1.4rem;
    }
    &__icono {
      width: 6vw;
      height: 6vw;
    }
    &__boton {
      padding: 0.5vh 1vh;
      font-size: 0.8rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .perdido {
    &__contenedor {
      padding: 2vh;
    }
    &__titulo {
      padding-left: 1vh;
    }
    &__texto {
      padding-top: 1.6vh;
      padding-bottom: 1.4vh;
      font-size: 1rem;
      line-height: 1.4rem;
    }
    &__icono {
      width: 6vw;
      height: 6vw;
    }
    &__boton {
      font-size: 0.85rem;
      padding: 1vh;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .perdido {
    background-image: url(../assets/images/404-desk-bg.jpg);
    &__contenedor {
      width: 50%;
    }
    &__icono {
      width: 4vw;
      height: 4vw;
    }
  }
}
