@import "../assets/scss/mixins";

.contacto {
  @include img-bg;

  .contenedor {
    @include flex;
  }
  &__info {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    @include flex;
  }

  &__icono {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    @include azul-bg;
    @include blanco;
  }

  &__texto {
    font-weight: 700;
    @include changa;
    @include gris-oscuro;
  }
}

/* --------------- FORM --------------- */
.form {
  @include flex;
  @include gris-claro-bg;
  justify-content: left;

  &__input:required:invalid,
  &__textarea:required {
    box-shadow: none;
  }

  &__input,
  &__textarea {
    font-weight: 500;
    border: none;
    background: none;
    border-bottom: #f37021 1px solid;
    @include w-full;
    @include lato;
    @include gris;
  }

  &__button {
    cursor: pointer;
    text-align: center;
    border: none;
    font-weight: 600;
    @include lato;
    @include w-full;
    @include blanco;
    @include naranja-bg;
  }

  &__label {
    font-weight: 500;
    @include gris;
    @include lato;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .contacto {
    background-image: url(../assets/images/con-mov-bg.jpg);
    &__info,
    &__form {
      @include w-full;
    }

    &__info {
      padding-bottom: 13%;
    }

    &__lista {
      @include w-full;
      @include flex;
    }

    &__item {
      @include w-full;
      padding-top: 12%;
    }

    &__icono {
      width: 13vw !important;
      height: 13vw;
      padding: 1.8vh 4vw;
      margin: 0 auto 1vh;
    }

    &__texto {
      font-size: 1rem;
    }
  }

  /* --------------- FORM --------------- */
  .form {
    margin: 7.5% 0 0 0;
    padding: 3.3vh;
    &__input {
      font-size: 0.95rem;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
    &__label {
      font-size: 0.95rem;
    }
    &__textarea {
      font-size: 0.95rem;
      margin-top: 2vh;
      margin-bottom: 3vh;
    }
    &__button {
      font-size: 0.92rem;
      padding: 0.8vh 0;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .form,
  .contacto__info {
    width: 48%;
  }

  .contacto {
    background-image: url(../assets/images/con-lan-bg.jpg);

    &__info {
      min-height: 84vh;
    }

    &__lista {
      @include w-full;
    }

    &__item {
      padding-top: 17%;
    }

    &__icono {
      width: 8.5vw !important;
      height: 8.5vw;
      padding: 2vh 2.6vw;
      margin: 0 auto 2vh;
    }

    &__texto {
      padding-top: 1.5vh;
      font-size: 1rem;
    }
  }

  /* --------------- FORM --------------- */

  .form {
    min-height: 84vh;
    padding: 5.5vh;
    margin-left: 4%;
    &__input {
      font-size: 0.8rem;
      margin-top: 3.5vh;
      margin-bottom: 4.5vh;
    }
    &__label {
      font-size: 0.8rem;
    }
    &__textarea {
      font-size: 0.8rem;
      margin-top: 3.5vh;
      margin-bottom: 3.5vh;
    }
    &__button {
      font-size: 0.85rem;
      padding: 1vh 0;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .form,
  .contacto__info {
    @include w-full;
  }

  .contacto {
    background-image: url(../assets/images/con-tab-bg.jpg);

    &__info {
      min-height: 16vh;
      padding-bottom: 0;
    }

    &__item {
      @include w-half;
      padding: 7vh 0 8vh 0;
    }
    &__icono {
      width: 8vw !important;
      height: 8vw;
      padding: 1.8vh 1vw;
      margin: 0 auto 1vh;
    }
    &__texto {
      font-size: 1.25rem;
    }
  }
  /* --------------- FORM --------------- */

  .form {
    margin: 2.7vh 0 0 0;
    min-height: 39vh;
    &__input {
      font-size: 1.1rem;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
    &__label {
      font-size: 1.1rem;
    }
    &__textarea {
      font-size: 1.1rem;
      margin-top: 1vh;
      margin-bottom: 2vh;
    }
    &__button {
      font-size: 1.2rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .contacto {
    .contenedor {
      width: 90vw;
      padding: 0;
    }
    &__info {
      min-height: 47vh;
    }

    &__item {
      padding-top: 14%;
    }
    &__icono {
      width: 5.4vw !important;
      height: 5.4vw;
      padding: 2vh 1.5vw;
    }
    &__texto {
      font-size: 1.2rem;
    }
  }

  /* --------------- FORM --------------- */

  .form {
    min-height: 47vh;
    margin-left: 1.83333333%;
    padding: 3vh;
    &__input {
      font-size: 1rem;
      margin-top: 2vh;
      margin-bottom: 3vh;
    }
    &__textarea {
      font-size: 1rem;
      margin-top: 1vh;
      margin-bottom: 3vh;
    }
    &__label {
      font-size: 1rem;
    }
    &__button {
      font-size: 1rem;
      padding: 0.8vh 0;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .contacto {
    background-image: url(../assets/images/con-desk-bg.jpg);
    background-position: bottom center;
    .contenedor {
      width: 80vw;
    }
    &__info {
      min-height: 50vh;
    }
    &__item {
      padding-top: 11%;
    }
    &__icono {
      width: 4.9vw !important;
      height: 4.9vw;
    }
    &__texto {
      font-size: 1.3rem;
    }

  }

  /* --------------- FORM --------------- */

  .form {
    min-height: 50vh;
    &__input {
      font-size: 1.04rem;
      margin-top: 2.5vh;
    }
    &__label {
      font-size: 1.04rem;
    }
    &__textarea {
      font-size: 1.04rem;
      margin-top: 0.5vh;
    }
    &__button {
      font-size: 1.06rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive 1440--------------------------------------------*/

@include min-media(1600px) {
  .contacto__item {
    padding-top: 8%;
  }
}
