@import "../assets/scss/antd";
@import "../assets/scss/mixins";

.inicio {
  @include center;
  @include img-bg;

  &__logo-contenedor {
    @include flex;
    @include center;
    background-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 70%
    );
  }

  &__logo {
    @include w-full;
  }

  .ant-carousel {
    @include w-full;
  }

  /* Markdown */
  &__carousel-txt {
    p {
      text-align: center;
      @include changa;
      @include blanco;
      @include txt-shadow;
      a {
        @include blanco;
      }
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .inicio {
    background-image: url(../assets/images/ini-mov-bg.jpg);
    &__logo-contenedor {
      width: 50vw;
      margin-top: -10vh;
      margin-bottom: 25vh;
    }

    /* Markdown */
    &__carousel-txt {
      p {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .inicio {
    background-image: url(../assets/images/ini-lan-bg.jpg);
    background-position: center center;
    &__logo-contenedor {
      width: 30vw;
      margin-top: -10vh;
      margin-bottom:12vh;
    }

    /* Markdown */
    &__carousel-txt {
      p {
        font-size: 1.35rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .inicio {
    background-image: url(../assets/images/ini-tab-bg.jpg);
    &__logo-contenedor {
      width: 32vw;
      margin-top: -16vh;
      margin-bottom: 17vh;
    }

    /* Markdown */
    &__carousel-txt {
      p {
        font-size: 1.55rem;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .inicio {
    &__logo-contenedor {
      width: 22vw;
    }

    /* Markdown */
    &__carousel-txt {
      p {
        font-size: 1.6rem;
      }
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .inicio {
    background-image: url(../assets/images/ini-desk-bg.jpg);
    background-position: bottom center;
    &__logo-contenedor {   
      width: 18vw;   
      margin-top: -20vh;
      margin-bottom: 14vh;
    }

    /* Markdown */
    &__carousel-txt {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
