@import "../assets/scss/mixins";

.nosotros {
  @include img-bg();
  align-items: flex-end;

  &__titulo {
    padding-left: 0.5vw;
  }

  &__lista {
    @include flex;
    justify-content: space-between;
  }

  &__item {
    @include flex;
    @include w-third;
    @include gris-claro-bg;
    align-items: center;
    align-content: flex-start;
    padding: 2vh;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .nosotros {
    background-image: url(../assets/images/nos-mov-bg.jpg);
    @include w-full;
    &__item {
      @include w-full;
      margin-bottom: 4vh;
    }
    &__icono {
      width: 15vw;
      height: 15vw;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .nosotros {
    background-image: url(../assets/images/nos-lan-bg.jpg);
    background-position: center center;
    @include w-full;

    .contenedor {
      margin-top: 25vh;
      margin-bottom: 20vh;
      padding: 0 4vw;
    }
    &__icono {
      width: 7vw;
      height: 7vw;
    }
  
    &__texto {
      font-size: 0.6rem;
      line-height: 1rem;
    }
  }

}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .nosotros {
    background-image: url(../assets/images/nos-tab-bg.jpg);
    &__item {
      @include w-third;
    }
    
    &__icono {
      width: 7vw;
      height: 7vw;
    }
    
    &__texto {
      font-size: 0.75rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .nosotros {
    &__icono {
      width: 6vw;
      height: 6vw;
    }

    &__texto {
      font-size: 0.8rem;
      line-height: 1.3rem;
      padding-top: 1.5vh;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .nosotros {
    background-image: url(../assets/images/nos-desk-bg.jpg);
    background-position: center center;
    .contenedor {
      @include flex;
      width: 63%;
    }

    &__icono {
      width: 4.5vw;
      height: 4.5vw;
    }

    &__texto {
      font-weight: 500;
    }
  }
}
