@import "../assets/scss/mixins";

.gracias {
  @include img-bg;
  @include w-full;
  .contenedor {
    @include flex;
    @include gris-claro-bg;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
  }
  &__boton {
    @include lato;
    @include blanco;
    @include azul-bg;
    cursor: pointer;
    font-weight: 600;
    border: none;
    display: inline-block;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .gracias {
    background-image: url(../assets/images/con-mov-bg.jpg);
    .contenedor {
      width: 90%;
      padding: 2vh;
    }
    &__titulo {
      flex: 0 0 80%;
      padding-right: 1.5vh;
    }
    &__descripcion {
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      font-size: 0.85rem;
      line-height: 1.2rem;
    }
    &__icono {
      width: 15vw;
      height: 15vw;
    }
    &__boton {
      padding: 1vh;
      font-size: 0.7rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .gracias {
    background-image: url(../assets/images/con-lan-bg.jpg);
    background-position: center center;

    .contenedor {
      width: 70%;
      padding: 4vh;
    }
    &__titulo {
      padding-right: 2vh;
    }
    &__descripcion {
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
      font-size: 0.85rem;
      line-height: 1.2rem;
    }
    &__icono {
      width: 7vw;
      height: 7vw;
    }
    &__boton {
      padding: 1.5vh;
      font-size: 0.7rem;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .gracias {
    background-image: url(../assets/images/con-tab-bg.jpg);
    .contenedor {
      width: 70%;
    }

    &__titulo {
      padding-right: 1vh;
    }
    &__descripcion {
      font-size: 0.95rem;
      line-height: 1.4rem;
      padding-top: 1vh;
      padding-bottom: 1.5vh;
    }
    &__icono {
      width: 7vw;
      height: 7vw;
    }
    &__boton {
      padding: 0.5vh 1vh;
      font-size: 0.8rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .gracias {
    .contenedor {
      padding: 2vh;
    }
    &__titulo {
      padding-right: 1.5vh;
    }
    &__descripcion {
      padding-top: 1.6vh;
      padding-bottom: 1.4vh;
      font-size: 1rem;
      line-height: 1.4rem;
    }
    &__icono {
      width: 6vw;
      height: 6vw;
    }
    &__boton {
      font-size: 0.85rem;
      padding: 1vh;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .gracias {
    background-image: url(../assets/images/con-desk-bg.jpg);
    .contenedor {
      width: 50%;
    }
    &__icono {
      width: 4vw;
      height: 4vw;
    }
  }
}