@import "../../../assets/scss/mixins";

@mixin blog-texto {
  @include w-full;
  @include azul;
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: -0.5vh;
}

.blog { @include img-bg; }

/* --------------- DESTACADOS --------------- */
.destacado {
  @include gris-claro-bg;

  &__fecha {
    @include blog-texto();
  }
}

/* --------------- ENTRADAS --------------- */
.entradas {
  @include flex;

  &__lista {
    @include gris-claro-bg;
  }

  &__link {
    @include flex;
  }

  &__titulo {
    font-weight: 400;
    @include naranja;
  }

  &__fecha {
    @include blog-texto();
    font-weight: 500;
  }

  .ficha__texto > p {
    font-weight: 500;
  }
}

/* --------------- PAGINACION --------------- */
.paginacion {
  @include w-full;
  @include flex;
  @include center;

  // h1 {
  //   @include naranja-bg;
  //   @include blanco;
  // }

  &__numero {
    @include flex;
    @include center;
    @include lato;
    @include gris-oscuro;
    @include gris-claro-bg;
  }

  &__ant,
  &__pag {
    @include blanco;
    @include naranja-bg;
  }

  &__indicador {
    font-size: 1.04rem;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {

  .blog {
    background-image: url(../../../assets/images/blog-mov-bg.jpg);
  }

  .destacado {
    padding: 2.5vh;
    &__titulo {
      padding-top: 1vh;
    }
    &__fecha {
      padding-top: 1vh;
      font-size: 0.75rem;
    }
    .ficha__texto > p {
      padding-top: 1vh;
    }

    &__imagen {
      @include w-full;
      height: 30vh;
    }
  }

  .entradas {
    &__lista {
      width: 100%;
      margin-top: 7.5%;
      padding: 2.5vh;
    }

    &__link {
      @include center;
    }

    &__imagen {
      width: 40%;
      height: 17vh;
    }

    &__titulo {
      padding-left: 2.5vh;
      width: 60%;
    }

    &__fecha,
    .ficha__texto > p {
      display: none;
    }
  }

  .paginacion {
    margin-top: 7.5%;
    a {
      font-size: 0.9rem;
      margin: 0 1vh;
      width: 4vh;
      height: 4vh;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/

@include min-media(568px, landscape) {
  .blog {
    background-image: url(../../../assets/images/blog-lan-bg.jpg);
  }

  .destacado {
    padding: 2vh;
    &__fecha,
    .ficha__texto > p {
      padding-top: 1vh;
    }
    &__link {
      @include flex;
    }
    &__imagen {
      width: 48%;
      height: 52vh;
    }
    &__texto {
      width: 52%;
      padding-left: 4vh;
      p {
        &:nth-child(3n) {
          display: none;
        }
      }
    }
  }

  .entradas {
    @include w-full;
    &__lista {
      width: 48.4%;
      margin-top: 3.2%;
      padding: 2vh;
      &:nth-child(2n) {
        margin-left: 3.2%;
      }
    }
    &__link {
      @include center;
    }
    &__imagen {
      width: 40%;
      height: 30vh;
    }
    &__titulo {
      padding-left: 2vh;
      width: 60%;
    }
    &__fecha,
    .ficha__texto > p {
      display: none;
    }
  }

  .paginacion {
    margin-top: 3.2%;
    a {
      font-size: 0.8rem;
      margin: 0 2vh;
      width: 6vh;
      height: 6vh;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/

@include min-media(768px, portrait) {
  .blog {
    background-image: url(../../../assets/images/blog-tab-bg.jpg);
  }

  .destacado {
    padding: 1.5vh;
    &__link {
      @include flex;
    }
    &__imagen {
      width: 48%;
      height: auto;
    }
    &__texto {
      padding-left: 2vh;
      width: 52%;
    }
    &__fecha,
    .ficha__texto > p {
      padding-top: 1vh;
      &:nth-child(3n) {
        display: block;
      }
    }
  }

  .entradas {
    &__lista {
      width: 48.4%;
      margin-top: 3.2%;
      padding: 1.5vh;
      &:nth-child(2n) {
        margin-left: 3.2%;
      }
    }
    
    &__imagen {
      width: 37%;
      height: 11.2vh;
    }
    &__titulo {
      width: 62%;
      padding-left: 2vh;
    }
    &__fecha,
    .ficha__texto > p {
      display: block;
      padding-top: 2vh;
    }
  }

  .paginacion {
    margin-top: 3.2%;
    a {
      font-size: 1.05rem;
      margin: 0 0.5vh;
      width: 3vh;
      height: 3vh;
    }

    &__indicador {
      font-size: 1.25rem;
      line-height: 1.62rem;
    }
  }

  /* Entradas */
  // .post {
  //   background-image: url(../../../assets/images/blog-tab-bg.jpg);
  //   .post__contenedor {
  //     padding: 2vh;
  //     @include flex;
  //     .gatsby-image-wrapper {
  //       order: 2;
  //       @include w-half;
  //       height: auto;
  //     }
  //     .post__cabecera {
  //       @include post-principal;
  //       &-fecha {
  //         font-size: 0.9rem;
  //         margin: -10.5vh 2vw 0 0;
  //       }
  //       .boton-regreso {
  //         @include absolute;
  //       }
  //     }
  //     .post__contenido {
  //       order: 3;
  //       font-size: 1.05rem;
  //       p {
  //         font-size: 1rem;
  //         line-height: 1.6rem;
  //       }
  //     }
  //   }
  // }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {

  .destacado {
    &__link {
      @include flex;
    }
    &__imagen {
      @include w-half;
      height: auto;
    }
    &__texto {
      padding-left: 2vh;
      @include w-half;
    }
    &__titulo {
      padding-top: 0;
    }
    &__fecha,
    .ficha__texto > p {
      padding-top: 1vh;
      display: block;
    }
  }

  .entradas {
    &__lista {
      @include w-half;
      margin-top: 1.83333333%;
      padding: 2vh;
      &:nth-child(2n) {
        margin-left: 1.83333333%;
      }
    }
    &__imagen {
      width: 33%;
      height: 17vh;
    }
    &__titulo {
      width: 67%;
    }
    &__fecha,
    .ficha__texto > p {
      display: block;
      padding-top: 1vh;
    }
  }

  .paginacion {
    margin-top: 1.83333333%;
    a {
      font-size: 0.95rem;
      margin: 0 1.1vh;
      width: 3.5vh;
      height: 3.5vh;
    }

    &__indicador {
      font-size: 1.4rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/

@include min-media(1280px) {
  .blog {
    background-image: url(../../../assets/images/blog-desk-bg.jpg);
    .contenedor {
      padding: 20vh 0 15vh;
      width: 80vw;
    }
  }

  .destacado {
    &__imagen {
      width: 50%;
      height: 40vh;
    }

    &__texto {
      width: 50%;
      .ficha__texto {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  .entradas {
    &__lista {
      @include w-half;
      margin-top: 1.633333333%;
      &:nth-child(2n) {
        margin-left: 1.633333333%;
      }
    }

    &__imagen {
      width: 30%;
      height: 19.5vh;
    }

    &__titulo {
      width: 70%;
    }
  }

  .paginacion {
    margin-bottom: 1.83333333%;
    a {
      width: 3.8vh;
      height: 3.8vh;
      font-size: 0.99rem;
    }

    &__indicador {
      font-size: 1.5rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive 1440--------------------------------------------*/

@include min-media(1600px) {
  .entradas {
    &__lista {
      width: 32.2%;
      &:nth-child(2n),
      &:nth-child(3n) {
        margin-left: 0;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6) {
        margin-left: 1.633333333%;
      }
    }

    &__imagen {
      width: 40%;
    }

    &__titulo {
      width: 60%;
    }
  }
}
